html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

.icon {
    color: white;
}

#about {
    min-height: 100vh;
}

#projects {
    min-height: 100vh;
}

#contact {
    height: 100vh;
}

div.name-in-corner {
    position: absolute;
    text-align: right;
    bottom: 12%;
    right: 10vw;
}

.section-title {
    margin-top: 5rem;
    font-size: 2.5rem;
}

.name-title {
    font-size: 4rem;
    color: #00f;
    margin-bottom: 0;
    line-height: 1.2;
    transition: opacity 0.2s ease;
    cursor: pointer;
    user-select: none;
}

.font-1 {
    font-family: 'DM Sans', sans-serif;
}

.font-2 {
    font-family: 'Courier New', Courier;
}

.font-3 {
    font-family: 'Times New Roman', Times, serif;
}

.font-4 {
    font-family: 'Cedarville Cursive', cursive;
}

.font-5 {
    font-size: 3rem;
    font-family: 'Wingdings';
}

h2 {
    font-weight: 100;
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}

h3 {
    margin: 0.3em;
}

nav {
    position: fixed;
    background-color: black;
    z-index: 999;
    width: 100vw;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

div.about-info {
    line-height: 1.5;
    margin-top: 4rem;
}

img.project-photo {
    height: 40vh;
    width: 80vw;
    padding: 0;
    max-width: 600px;
    border-radius: 3rem;
    margin: 5px 0;
    object-fit: cover;
}

p.project-desc {
    max-width: 800px;
}

span.in-progress {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    width: max-content;
    border: solid saddlebrown 3px;
    background-color: saddlebrown;
    padding: 0.1rem;
    border-radius: 10px;
}

div.code-button {
    display: flex;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    width: max-content;
    border: solid white 3px;
    background-color: white;
    padding: 0.1rem 0.4rem;
    border-radius: 100px;
    align-items: center;
    margin-bottom: 4rem;
}

div.code-button i, div.code-button span {
    color: black;
}

div.code-button:hover {
    background-color: gray;
    border-color: gray;
}

div.stack span {
    display: flex;
    margin-bottom: 1rem;
}

div.stack i {
    font-size: 2rem;
    border: solid white 2px;
    border-radius: 0.7rem;
    padding: 0.5rem;
    transition: 0.2s ease;
}

div.stack i:hover {
    color: black;
    background-color: white;
    border-color: white;

}

div.paragraph-text {
    margin-bottom: 1.5rem;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 1100px;
}

div.scroll-button {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
}

.contact-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card {
    display: flex;
    cursor: pointer;
    transition: 0.2s ease;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 450px;
    padding: 0.5rem;
    border: solid white 2px;
    border-radius: 0.7rem;
}

.contact-card i {
    font-size: 2rem;
}

.contact-card span {
    font-size: 1.2rem;
}

.email:hover {
    background-color: maroon;
    border-color: maroon;
}

.linkedin:hover {
    background-color: navy;
    border-color: navy;
}

.github:hover {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: grey;
}

@media all and (max-width: 700px) {
    .paragraph-text {font-size: 14px;}
    h1.name-title {font-size: 50px;}
    .font-5 {font-size: 30px !important;}
    .font-2 {font-size: 40px !important;}
    div.stack i {font-size: 1.5rem;}
    div.scroll-button {bottom: 1.5%;}
    div.name-in-corner {bottom: 7%;}
    .about-info {font-size: 12px;}
}

@font-face {
    font-family: 'Wingdings';
    src: url('/fonts/wingdings-1.woff') format('woff');
}